interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://datahub.vlaamsekunstcollectie.be/oai/?verb=ListRecords&from=2011-06-01T00%3A00%3A00Z&metadataPrefix=oai_lido
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2021-06-08T14:28:49Z</responseDate>\n
        \ <request verb=\"ListRecords\" from=\"2021-05-26T21:18:01Z\" metadataPrefix=\"oai_lido\">http://datahub.vlaamsekunstcollectie.be</request>\n
        \ <ListRecords>\n    <record>\n      <header>\n        <identifier>oai:datahub.vlaamsekunstcollectie.be:(not
        assigned)</identifier>\n        <datestamp>2021-05-26T21:18:22Z</datestamp>\n
        \     </header>\n      <metadata>\n        <lido:lido xmlns:gml=\"http://www.opengis.net/gml\"
        xmlns:lido=\"http://www.lido-schema.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \ <lido:lidoRecID lido:pref=\"alternate\" lido:type=\"purl\" lido:source=\"Koninklijk
        Museum voor Schone Kunsten Antwerpen\" lido:label=\"dataPID\">(not assigned)</lido:lidoRecID>\n
        \ <lido:lidoRecID lido:pref=\"preferred\" lido:type=\"urn\" lido:source=\"Vlaamse
        Kunstcollectie - Arthub Flanders\" lido:label=\"dataPID\">oai:datahub.vlaamsekunstcollectie.be:(not
        assigned)</lido:lidoRecID>\n  <lido:objectPublishedID lido:type=\"purl\" lido:source=\"Koninklijk
        Museum voor Schone Kunsten Antwerpen\" lido:label=\"workPID\">(not assigned)</lido:objectPublishedID>\n
        \ <lido:category>\n    <lido:conceptID lido:type=\"purl\" lido:source=\"cidoc-crm\">http://www.cidoc-crm.org/Entity/e22-man-made-object/version-6.1</lido:conceptID>\n
        \   <lido:term>Man-Made Object</lido:term>\n  </lido:category>\n  <lido:descriptiveMetadata
        xml:lang=\"nl\">\n    <lido:objectClassificationWrap>\n      <lido:objectWorkTypeWrap>\n
        \       <lido:objectWorkType>\n          <lido:term/>\n        </lido:objectWorkType>\n
        \     </lido:objectWorkTypeWrap>\n      <lido:classificationWrap>\n        <lido:classification
        lido:type=\"object-category\">\n          <lido:conceptID lido:pref=\"preferred\"
        lido:type=\"local\" lido:source=\"TMS\">12</lido:conceptID>\n          <lido:term
        lido:pref=\"preferred\" xml:lang=\"nl\">schilderij</lido:term>\n        </lido:classification>\n
        \     </lido:classificationWrap>\n    </lido:objectClassificationWrap>\n    <lido:objectIdentificationWrap>\n
        \     <lido:titleWrap>\n        <lido:titleSet>\n          <lido:appellationValue
        lido:pref=\"preferred\" xml:lang=\"en\">Head of a Man in Profile</lido:appellationValue>\n
        \         <lido:sourceAppellation xml:lang=\"en\">56297</lido:sourceAppellation>\n
        \       </lido:titleSet>\n      </lido:titleWrap>\n      <lido:repositoryWrap>\n
        \       <lido:repositorySet>\n          <lido:repositoryName>\n            <lido:legalBodyID
        lido:type=\"local\" lido:source=\"TMS\">15</lido:legalBodyID>\n            <lido:legalBodyName>\n
        \             <lido:appellationValue>Tentoonstellingen</lido:appellationValue>\n
        \           </lido:legalBodyName>\n          </lido:repositoryName>\n          <lido:workID
        lido:type=\"object-number\">T2023.065-1</lido:workID>\n        </lido:repositorySet>\n
        \     </lido:repositoryWrap>\n      <lido:objectMeasurementsWrap>\n        <lido:objectMeasurementsSet>\n
        \         <lido:displayObjectMeasurements>49,1 \xD7 37,2 cm</lido:displayObjectMeasurements>\n
        \         <lido:objectMeasurements>\n            <lido:measurementsSet>\n
        \             <lido:measurementType>Hoogte</lido:measurementType>\n              <lido:measurementUnit>Centimeters</lido:measurementUnit>\n
        \             <lido:measurementValue>49.1</lido:measurementValue>\n            </lido:measurementsSet>\n
        \           <lido:extentMeasurements>Volledig</lido:extentMeasurements>\n
        \         </lido:objectMeasurements>\n        </lido:objectMeasurementsSet>\n
        \       <lido:objectMeasurementsSet>\n          <lido:displayObjectMeasurements>49,1
        \xD7 37,2 cm</lido:displayObjectMeasurements>\n          <lido:objectMeasurements>\n
        \           <lido:measurementsSet>\n              <lido:measurementType>Breedte</lido:measurementType>\n
        \             <lido:measurementUnit>Centimeters</lido:measurementUnit>[...]
