interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://archief-qas.viaa.be/mediahaven-rest-api/resources/media/?q=%2B(Type:image)%2B(dc_identifier_localidsinventarisnummer:*)&startIndex=0&nrOfResults=3
  response:
    body:
      string: "{\"TotalNrOfResults\":9,\"StartIndex\":0,\"MediaDataList\":[{\"Internal\":{\"OriginalStatus\":\"completed\",\"PathToKeyframe\":\"https://archief-media-qas.viaa.be/viaa/LUKASWEB/352a50c10dcb454495ee0ef481cf019002c20da43a3b444184c1603324833f8e/browse.jpg\",\"IsFragment\":false,\"UploadedById\":\"ff139a7a-efd0-44e3-8816-0905572421da\",\"HasKeyframes\":false,\"Browses\":{\"Browse\":[{\"BaseUrl\":\"https://archief-media-qas.viaa.be/viaa/LUKASWEB/352a50c10dcb454495ee0ef481cf019002c20da43a3b444184c1603324833f8e\",\"PathToKeyframe\":\"browse.jpg\",\"PathToKeyframeThumb\":\"browse-thumb.jpg\",\"HasKeyframes\":false,\"Container\":\"jpg\",\"Label\":\"jpg\",\"FileSize\":413325,\"Height\":2000,\"Width\":1300}]},\"MediaObjectId\":\"352a50c10dcb454495ee0ef481cf019002c20da43a3b444184c1603324833f8e\",\"ArchiveStatus\":\"on_disk\",\"BrowseStatus\":\"completed\",\"RecordId\":\"352a50c10dcb454495ee0ef481cf019002c20da43a3b444184c1603324833f8e\",\"IsInIngestSpace\":false,\"OrganisationId\":\"139\",\"FragmentId\":\"352a50c10dcb454495ee0ef481cf019002c20da43a3b444184c1603324833f8e918488a460064ef4b8f18b353035b4cf\",\"PathToKeyframeThumb\":\"https://archief-media-qas.viaa.be/viaa/LUKASWEB/352a50c10dcb454495ee0ef481cf019002c20da43a3b444184c1603324833f8e/browse-thumb.jpg\",\"ContainsGeoData\":false,\"DepartmentId\":\"dd139b7a-efd0-44e3-8816-0905572421da\",\"IngestSpaceId\":null,\"PathToVideo\":null},\"Descriptive\":{\"CreationDate\":\"2016:04:06
        09:50:46\",\"Authors\":{\"Author\":[\"Dominique Provost\"]},\"UploadedBy\":\"bulkupload@lukasweb\",\"KeyframeStart\":0,\"Keywords\":{\"Keyword\":[\"BRUGGE\",\"StSebastiaansgilde\"]},\"OriginalFilename\":\"qsmk654z08.tif\",\"Title\":\"Koninklijke
        Hoofdgilde Sint-Sebastiaan Brugge\",\"RightsOwner\":\"\xA92016 D.Provost\",\"Description\":null,\"Rights\":null,\"Categories\":{\"Category\":[]},\"Publisher\":null,\"Location\":null,\"Address\":{},\"NonPreferredTerm\":null,\"Publications\":null},\"RightsManagement\":{\"Permissions\":{\"Export\":[\"cc7c56fc-58c8-4650-bc63-7e695fbc506c\",\"dd139b7a-efd0-44e3-8816-0905572421da\",\"dc100b7a-efd0-44e3-8816-0905572421da\",\"7846ce50-f88f-4a6d-ad6e-05ebf6eb9f8c\"],\"Write\":[\"cc7c56fc-58c8-4650-bc63-7e695fbc506c\",\"dd139b7a-efd0-44e3-8816-0905572421da\",\"dc100b7a-efd0-44e3-8816-0905572421da\",\"7846ce50-f88f-4a6d-ad6e-05ebf6eb9f8c\"],\"Read\":[\"df139b7a-efd0-44e3-8816-0905572421da\",\"cc7c56fc-58c8-4650-bc63-7e695fbc506c\",\"dd139b7a-efd0-44e3-8816-0905572421da\",\"dc100b7a-efd0-44e3-8816-0905572421da\",\"7846ce50-f88f-4a6d-ad6e-05ebf6eb9f8c\"]},\"ExpiryDate\":null,\"ExpiryStatus\":null},\"Administrative\":{\"LastModifiedDate\":\"2021-02-24T09:58:57Z\",\"IsSynchronized\":false,\"IsOriginal\":true,\"OrganisationName\":\"lukasweb\",\"Workflow\":\"borndigital\",\"IsPreservation\":false,\"DepartmentName\":\"lukasweb\",\"ArchiveDate\":\"2019:08:28
        14:19:23\",\"OrganisationLongName\":\"lukasweb\",\"RecordType\":\"Record\",\"RecordStatus\":\"New\",\"IsAccess\":false,\"ExternalId\":\"qsmk654z08\",\"Type\":\"image\",\"OrganisationExternalId\":\"OR-4t6f29d\",\"IngestTape\":null},\"Technical\":{\"ImageQuality\":\"high\",\"PronomId\":\"x-fmt/388\",\"OriginalExtension\":\"tif\",\"FileSize\":273022776,\"ImageSize\":\"5438x8367\",\"MimeType\":\"image/tiff\",\"Height\":8367,\"Width\":5438,\"Md5\":\"6c944c884f7b68c9051120fbfdf76413\",\"ImageOrientation\":\"portrait\",\"VideoTechnical\":null,\"AudioTechnical\":null,\"VideoFormat\":null,\"DurationTimeCode\":null,\"StartTimeCode\":null,\"EndTimeCode\":null,\"DurationFrames\":null,\"StartFrames\":null,\"EndFrames\":null,\"VideoCodec\":null,\"VideoFps\":null,\"VideoBitRate\":null,\"BitRate\":null},\"Dynamic\":{\"md5_viaa\":\"6c944c884f7b68c9051120fbfdf76413\",\"dc_source\":\"20160406_0029.tif\",\"dc_identifier_localids\":{\"PersistenteURI_Werk\":[\"http://resolver.lukasweb.be/collection/work/representation/0720019000\"],\"Inventarisnummer\":[\"072_019\"],\"Objectnaam\":[\"0720019000\"],\"PersistenteURI_Record\":[\"http://resolver.lukasweb.be/collection/work/data/0720019000\"]},\"dc_creators\":{\"Fotograaf\":[\"Dominique
        Provost\"]},\"QCcomment\":\"Dit is een test\",\"dcterms_created\":\"uuuu-uu-uu\",\"dc_rights_rightsOwners\":{\"Auteursrechthouder\":[\"NL
        | Lukas - Art in Flanders VZW foto Dominique Provost\",\"EN | Lukas - Art
        in Flanders VZW photo Dominique Provost\"]},\"sp_name\":\"borndigital\",\"dc_identifier_localid\":\"20160406_0029\",\"PID\":\"qsmk654z08\",\"CP\":\"Lukasweb\",\"dc_titles\":{\"archief\":[\"Koninklijke
        Hoofdgilde Sint-Sebastiaan Brugge\"],\"deelarchief\":[\"Koninklijke Hoofdgilde
        Sint-Sebastiaan Brugge\"]},\"dc_rights_licenses\":{\"multiselect\":[\"VIAA-ONDERWIJS\",\"VIAA-ONDERZOEK\",\"VIAA-INTRA_CP-CONTENT\",\"VIAA-INTRA_CP-METADATA-ALL\",\"VIAA-PUBLIEK-METADATA-LTD\"]},\"CP_id\":\"OR-4t6f29d\"},\"Structural\":{\"Collections\":{\"Collection\":[\"a4563ab649ae411c847d74d325701a655968081f47f4428eb54ab7b6d02b8156_0000000098\"]},\"HasChildren\":false,\"FragmentStartFrames\":0,\"FragmentEndFrames\":0,\"Versioning\":{\"Status\":\"Untracked\",\"Version\":1},\"Sets\":{\"Set\":[]},\"Newspapers\":{\"Newspaper\":[]},\"Relations\":{},\"Fragments\":{},\"FragmentDurationTimeCode\":null,\"FragmentStartTimeCode\":null,\"FragmentEndTimeCode\":null,\"FragmentDurationFrames\":null},\"Context\":{\"IsEditable\":true,\"IsDeletable\":true,\"IsPublic\":false,\"IsExportable\":true}},{\"Internal\":{\"OriginalStatus\":\"completed\",\"PathToKeyframe\":\"https://archief-media-qas.viaa.be/viaa/LUKASWEB/c77bcc6eb756488ea88c0548e85c30f1c294c32c240e49c9a176c492347337a3/browse.jpg\",\"IsFragment\":false,\"UploadedById\":\"ff139a7a-efd0-44e3-8816-0905572421da\",\"HasKeyframes\":false,\"Browses\":{\"Browse\":[{\"BaseUrl\":\"https://archief-media-qas.viaa.be/viaa/LUKASWEB/c77bcc6eb756488ea88c0548e85c30f1c294c32c240e49c9a176c492347337a3\",\"PathToKeyframe\":\"browse.jpg\",\"PathT[...]
[...]
